

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
/* html{
  background: url('https://acg.toubiec.cn/random.php');
  background-size:cover ;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
} */

